// scss-docs-start color-variables

$th-primary: #0d6efd !default;
$th-secondary: #6c757d !default;
$th-neutral: null !default;
$th-accent: #212529 !default;

$th-light: #f8f9fa !default;
$th-dark: #212529 !default;

// scss-docs-end color-variables
